{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/lucky/number">Lucky</a></li>
                </ul>
            {% endblock %}
        </div>
        <div id="content">
            {% block body %}
             This is the main page
            {% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
